FRONTEND_URL=https://latestfashionjewellery.com
CORS_ALLOWED_ORIGINS=https://latestfashionjewellery.com,https://www.latestfashionjewellery.com
SANCTUM_STATEFUL_DOMAINS=latestfashionjewellery.com,www.latestfashionjewellery.com
SESSION_SECURE_COOKIE=true
SESSION_DOMAIN=.latestfashionjewellery.com