includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app/Domain/Pricing
        - app/Http/Controllers/Api/PricingController.php
        - tests/Unit/Services
    inferPrivatePropertyTypeFromConstructor: true
